@function pxToEm( $px, $base: $fontSize_s ){

  @return ($px / $base)*1em;
}

@mixin formFieldPlaceholderText {

  color: $fontColor;
  font-size: $fontSize_s;
  font-family: $fontFamily;
  font-weight: $fontWeight;
}