/*
 * Hide text without sacrificing accessibility
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
%visually-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

%visually-hidden {

  display: inline-block;
  text-indent: -99999px;
}