/* ---------------------------
12 Custom and Override CSS
----------------------------*/

.bg1 {
  background-repeat:no-repeat;
  background-position:right;
  width: 500px;
  background-size:100%;
  overflow: hidden;
  z-index: 10;
}