/* ---------------------------
  05 Content
  ----------------------------*/

#container {

  //Default value to push down content to make space for header. This gets
  //reset/recalculated by javascript in layout.js
  margin-top: 50px;
}

.post .meta {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.posthome {
  padding: 80px;
}

.contentBox {
  float: left;
  position: relative;
  margin: 0 0 30px 40px;
}

#content {

  a {

    text-decoration: none;

    &:hover {

      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5 {

    a {

      &:hover {

      }
    }
  }
}