/* ---------------------------
11 Footer
----------------------------*/

.footer {

  @extend .navbar;
  top: initial !important;
  bottom: 0;

  .container {

    @media (min-width: $mq_m) {

      height: pxToEm( 75px, $fontSize_m );
    }
  }

//  background-color: rgba( 0, 0, 0, .85 );
//  height: pxToEm( 50px, $fontSize_s );
//
//  @media (min-width: $mq_m) {
//
//    height: pxToEm( 75px, $fontSize_m );
//  }
}

//.footer--sticky {
//
//  backface-visibility: hidden;
//  bottom: 0;
//  left: 0;
//  position: fixed;
//  right: 0;
//}