/* ---------------------------
11 Footer
----------------------------*/

.footer {

  @extend .navbar;
  top: initial !important;
  bottom: 0;

  .container {

    padding-bottom: pxToEm( 7.5px, $fontSize_s ) !important;
    padding-top: pxToEm( 7.5px, $fontSize_s ) !important;
    height: pxToEm( $footer_height_s, $fontSize_s );

    @media screen and (min-width: $mq_m) {

      padding-bottom: pxToEm( 20px, $fontSize_m ) !important;
      padding-top: pxToEm( 20px, $fontSize_m ) !important;
      height: pxToEm( $footer_height_m, $fontSize_m );
    }
  }
}

#footer {

  .main {

    padding: pxToEm( 10px, $fontSize_s ) pxToEm( 20px, $fontSize_s );
    overflow: hidden;

    @media (screen and min-width: $mq_m) {

      padding: pxToEm( 15px, $fontSize_m ) pxToEm( 40px, $fontSize_m )
    }
  }
}