/* ---------------------------
04 Header
----------------------------*/

#header {

  position: relative;
  min-height: 50px;
}


#socialNetworks {
  margin:0 0 0 250px;
  text-align:right;
}

#socialNetworks a {
  margin: 0 5px 0 0;
}

#intro, #second{
  width: 100%;
}

