/*Lists------------------*/

#content ul {
  margin-bottom: 25px;
  list-style:disc;
  list-style-position:inside;
}

#content ul li {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;
}

#content ol li {
  margin: 0 0 10px 0;
}

#content ol {
  margin: 0 0 20px 20px;
}

#content ul ul, #content ol ul, #content ul ol, #content ol ol {
  margin-left: 20px;
  padding-top: 10px;
}

/*Theme Specific */
.story {
  margin: 0 auto;
  min-width: 950px;
  width: 950px;
}

.inside {
  margin: 0 auto;
  min-width: 800px;
  width: 800px;
}

.inside {
  width:960px
}

.float-left, .float-right, .center {
  background: transparent url(images/postbgwhite.png) repeat;
}

.float-left, .float-right {
  float: left;
  margin: 0;
}

.float-left {margin-right:7%}

.float-right{
  float: right;
  margin-left:7%;
}

.story .float-left, .story .float-right, .story .center {
  padding: 10px;
  position: relative;
  width: 350px;
  line-height: 1em;
  font-size: 12px;
}

.story .float-left h1, .inside .float-left h1, .story .float-right h1, .inside .float-right h1, .story .center h1 {
  font-size:28px;
  line-height: 28px;
}

.story .float-right {
  float:right;
}

.story .center,
.storycenter .bg1 {
  position:absolute;

  margin:0 auto;
  padding: 10px;
}

.story .center { z-index: 100; }
.storycenter .bg1 { z-index: 90; }

.story .center,
.storycenter .bg1 {
  width:930px;
}



.post, .page {
  background-position: 0 50%;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.post img, .post object {max-width: 100%; height:auto}

.parallax-container { background-position: top center }