#logo {

  h1 {

    margin: 0;
  }

  a {

    background: url("images/anarchostar.min.svg") no-repeat 0 0 transparent;
    background-size: contain;
    display: block;
    float: left;
    height: $logoHeight_s;
    width: $logoHeight_s;

    > span {

      @extend %visually-hidden-accessible;
    }

    @media( min-width: $mq_m ){

      height: $logoHeight_m;
      width: $logoHeight_m;
    }

    @media( min-width: $mq_l ){

      height: $logoHeight_l;
      width: $logoHeight_l;
    }
  }
}