.navbar {

  background-color: rgba( 0, 0, 0, .85 );
  backface-visibility: hidden;
  color: #fff;
  display: table;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;

  > .container {

    display: table-cell;
    vertical-align: middle;
  }

  a {

    color: #fff;
  }
}
