.navbar {

  background-color: rgba( 0, 0, 0, .85 );
  backface-visibility: hidden;
  color: #fff;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;

  .container {

    padding: pxToEm( 10px, $fontSize_s ) pxToEm( 20px, $fontSize_s );
    overflow: hidden;

    @media (screen and min-width: $mq_m) {

      padding: pxToEm( 15px, $fontSize_m ) pxToEm( 40px, $fontSize_m )
    }
  }

  a {

    text-decoration: none;
  }
}

.btn-navbar {

  display: none;
}


.nav-collapse {

  display: none;
  float: right;
  text-transform: uppercase;

  @media (screen and min-width: $mq_xxl) {

    display: inline-block;
  }

  select { display: none; }

  a {

    display: inline-block;
    line-height: $logoHeight_s;

    @media( min-width: $mq_m ){

      line-height: $logoHeight_m;
    }

    @media( min-width: $mq_l ){

      line-height: $logoHeight_l;
    }
  }

  li {

    margin-left: pxToEm( 20px, $fontSize_s );

    @media( min-width: $mq_m ){

      margin-left: pxToEm( 20px, $fontSize_m );
    }

    display: inline-block;

    &:first-child {

      margin-left: 0;
    }

    &.current,
    &.current-cat,
    &.current_page_item,
    &.current-menu-item,
    &.current-post-ancestor,
    &.current_page_parent,
    &:hover{

    }
  }
}



.nav--footer {

  background-color: rgba(0,0,0,.85);
  display: none;
  float: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  top: $headerHeight_s;
  bottom: 0;

  .home & {

    bottom: $footer_height_s;
  }


  @media( screen and min-width: $mq_m ){

    top: $headerHeight_m;

    .home & {

      bottom: $footer_height_m;
    }
  }

  @media( screen and min-width: $mq_l ){

    top: $headerHeight_l;
  }

  @media (screen and min-width: $mq_xxl) {

    display: none;
  }

  .menu-main-menu-container {

    height: 100%;
    margin: auto;
    width: 100%;
  }

  .sf-menu {

    display: flex;
    flex-flow: column;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
    margin: auto;
    justify-content: space-around;

    @media( screen and min-width: $mq_m ){

      flex-flow: row;
    }

    > li {

      margin: 0;
      display: table;
      width: 15em;
      height: 15em;
      margin: auto;

      a {

        display: table-cell;
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border: 1px solid #fff;
        border-radius: 100%;
      }
    }
  }

//  .sf-menu {
//
//    display: table-row;
//
//    > li {
//
//      margin-left: 0;
//      display: table-cell;
//      float: none;
//      text-align: center;
//      vertical-align: middle;
//
//      a {
//
//        text-decoration: none;
//        font-size: 1.5em;
//        line-height: 10em;
//        width: 100%;
//        border: 1px solid #fff;
//        border-radius: 10em;
//        display: inline-block;
//      }
//    }
//  }
}

.mobile-nav-icon {

  background: url("images/menu.min.svg") no-repeat center center transparent;
  background-size: contain;
  display: block;
  float: right;
  height: $logoHeight_s;
  width: $logoHeight_s - 15;
  text-indent: -9999px;

  @media( screen and min-width: $mq_m ){

    height: $logoHeight_m;
    width: $logoHeight_s - 5;
  }

  @media( screen and min-width: $mq_l ){

    height: $logoHeight_l;
  }

  @media (screen and min-width: $mq_xxl) {

    display: none;
  }
}