.parallax-container {

  display: table;
  background-position: top center;
  background-size: cover;
  width: 100%;
}

.story {

  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;

  .blockText {

    background-color: rgba( 0, 0, 0, .8 );
    color: #fff;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 960px) {

      max-width: 500px;
      width: 50%;
    }

    h1 {

      @extend %visually-hidden-accessible;
    }

    .sc-player {

      margin-top: 25px;
    }
  }

  .bg1 {

    display: none;
    position: absolute;
    z-index: 1;

    @media screen and (min-width: 960px) {

      display: block;
    }
  }
}

.inside {
  margin: 0 auto;
  //min-width: 800px;
  //width: 800px;
}

.inside {
  //width:960px
}

.story
.float-left,
.story
.float-right,
.story .center {

  padding: 10px;
  position: relative;
}

.story .float-right {
  float: right;
}

.story .center { z-index: 100; }
.storycenter .bg1 { z-index: 90; }