.sc-previous,
.sc-next {

  display: none;

  .sc-multitrack & {

    display: block;
  }
}

.sc-previous {

  margin-right: 5px;
}

.sc-next {

  margin-left: 5px;
}

.sc-controls {

  display: table-cell;
  width: 35px;

  .sc-multitrack & {

    width: 115px;
  }

  a {

    float: left;
    width: 35px;
    height: 35px;
  }

  svg {

    height: 35px;
    width: 35px;
  }
}

.sc-pause {

  display: none;
}

.sc-scrubber,
.sc-trackslist {

  position: absolute;
  left: 40px;
  right: 0;
  margin: 0 !important;
  padding: 0;
  top: 0;
  z-index: 9;

  .sc-multitrack & {

    left: 120px;
  }
}

.sc-scrubber {

  visibility: hidden;
  height: pxToEm( 38px, $fontSize_s );

  @media screen and (min-width: $mq_m) {

    height: pxToEm( 38px, $fontSize_m );
  }

  .playing & {

    visibility: visible;
  }
}

.sc-player {

  display: table;
  width: 100%;
  height: pxToEm( 35px, $fontSize_s );

  @media screen and (min-width: $mq_m) {

    height: pxToEm( 35px, $fontSize_m );
  }

  position: relative;


  &.playing {

    .sc-play {

      display: none;
    }

    .sc-pause {

      display: block;
    }
  }

  .hidden {

    display: none;
  }
}

  .sc-artwork-list {

    display: none;
  }

  .sc-time-span {

    display: none;
//    height: 30px;
//    position: relative;
//
//    img {
//
//      height: 30px;
//      width: 100%;
//      background-color: #000;
//    }
  }

  .sc-buffer,
  .sc-played {

    height: 30px;
    position: absolute;
    top: 0;
    width: 0;
    transition: width 0.1s linear;
  }

  .sc-trackslist {

    position: absolute;
    left: 40px;
    right: 0;
    z-index: 999;
    margin: 0 !important;
    padding:0;

    li {

      display: none;
      list-style: none;
      cursor: pointer;
      margin: 0 !important;

      &.active {

        display: block;
      }

      > a {

        display: block;
        line-height: pxToEm( 38px, $fontSize_s );
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (min-width: $mq_m) {

          line-height: pxToEm( 38px, $fontSize_m );
        }
      }
    }
  }

  .sc-track-duration,
  .sc-time-indicators {

    @extend .nano;
    bottom: pxToEm( 37px, $fontSize_s );
    position: absolute;
    right: 0;

    @media screen and (min-width: $mq_m) {

      bottom: pxToEm( 37px, $fontSize_m );
    }
  }

  .sc-track-duration {

    .playing & {

      display: none;
    }
  }

  .sc-info,
  .sc-info-toggle {

    display: none;
  }