label {

  @extend %visually-hidden-accessible;
}


input,
textarea,
select {

  font-size: $fontSize_s;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  background-color: transparent;
  border: 1px solid #fff;
  padding: pxToEm( 10px, $fontSize_s);
  width: 100%;

  @media screen and (min-width: $mq_m) {

    padding: pxToEm( 10px, $fontSize_m);
  }
}

::-webkit-input-placeholder {

  @include formFieldPlaceholderText;
}

:-moz-placeholder { /* Firefox 18- */
  @include formFieldPlaceholderText;
}

::-moz-placeholder {  /* Firefox 19+ */
  @include formFieldPlaceholderText;
}

:-ms-input-placeholder {
  @include formFieldPlaceholderText;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button {

  border: none;
  background-color: $fontColor;
  color: $buttonColor;
}